n8n/workflows/tds_compliance.json
{
  "name": "Quarterly TDS Compliance",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 25 3,6,9,12 *"
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Quarterly Cron (25th Jun/Sep/Dec/Mar)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://operatoros-api:8000/api/compliance?task_type=tds_return&limit=500",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 15000
        }
      },
      "id": "get-tds-clients",
      "name": "Get Clients with TDS Obligations",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "operatoros-api-key",
          "name": "OperatorOS API Key"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "loop-tds-tasks",
      "name": "Loop Over TDS Tasks",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [720, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://operatoros-api:8000/api/clients/{{ $json.client_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 10000
        }
      },
      "id": "fetch-client-details",
      "name": "Fetch Client Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "operatoros-api-key",
          "name": "OperatorOS API Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "overdue-check",
              "leftValue": "={{ $('Loop Over TDS Tasks').item.json.status }}",
              "rightValue": "overdue",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-overdue",
      "name": "Is Overdue?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.SMTP_FROM || 'noreply@operatoros.in' }}",
        "toEmail": "={{ $json.email }}",
        "subject": "=TDS Return Filing Reminder — Q{{ Math.ceil(new Date().getMonth() / 3) }} — {{ $json.firm_name }}",
        "emailType": "html",
        "html": "=<div style=\"font-family: 'Segoe UI', Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 24px; border: 1px solid #e5e7eb; border-radius: 8px;\">\n  <h2 style=\"color: #1e40af;\">TDS Return Filing Reminder</h2>\n  <p>Dear <strong>{{ $json.firm_name }}</strong>,</p>\n  <p>This is a reminder that the <strong>quarterly TDS return</strong> filing deadline is approaching.</p>\n  <table style=\"width: 100%; border-collapse: collapse; margin: 16px 0;\">\n    <tr><td style=\"padding: 8px; border-bottom: 1px solid #e5e7eb; font-weight: 600;\">PAN</td><td style=\"padding: 8px; border-bottom: 1px solid #e5e7eb;\">{{ $json.pan }}</td></tr>\n    <tr><td style=\"padding: 8px; border-bottom: 1px solid #e5e7eb; font-weight: 600;\">Task</td><td style=\"padding: 8px; border-bottom: 1px solid #e5e7eb;\">{{ $('Loop Over TDS Tasks').item.json.description || 'TDS Return Filing' }}</td></tr>\n    <tr><td style=\"padding: 8px; border-bottom: 1px solid #e5e7eb; font-weight: 600;\">Due Date</td><td style=\"padding: 8px; border-bottom: 1px solid #e5e7eb;\">{{ $('Loop Over TDS Tasks').item.json.due_date }}</td></tr>\n    <tr><td style=\"padding: 8px; border-bottom: 1px solid #e5e7eb; font-weight: 600;\">Status</td><td style=\"padding: 8px; border-bottom: 1px solid #e5e7eb;\">{{ $('Loop Over TDS Tasks').item.json.status }}</td></tr>\n  </table>\n  <p>Please ensure the following are completed before filing:</p>\n  <ul>\n    <li>All TDS challan payments are reconciled</li>\n    <li>Form 26Q / 24Q / 27Q data is verified</li>\n    <li>Deductee PAN details are validated</li>\n  </ul>\n  <p style=\"color: #6b7280; font-size: 12px; margin-top: 24px;\">Automated reminder from OperatorOS.</p>\n</div>",
        "options": {}
      },
      "id": "send-tds-reminder",
      "name": "Send TDS Reminder",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1440, 180],
      "credentials": {
        "smtp": {
          "id": "operatoros-smtp",
          "name": "OperatorOS SMTP"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.SMTP_FROM || 'noreply@operatoros.in' }}",
        "toEmail": "={{ $json.email }}",
        "ccEmail": "={{ $env.CA_PARTNER_EMAIL || '' }}",
        "subject": "=[ESCALATION] OVERDUE TDS Return — {{ $json.firm_name }} — Due {{ $('Loop Over TDS Tasks').item.json.due_date }}",
        "emailType": "html",
        "html": "=<div style=\"font-family: 'Segoe UI', Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 24px; border: 2px solid #dc2626; border-radius: 8px;\">\n  <h2 style=\"color: #dc2626;\">ESCALATION: Overdue TDS Return</h2>\n  <p>Dear <strong>{{ $json.firm_name }}</strong>,</p>\n  <p style=\"color: #dc2626; font-weight: 600;\">Your TDS return is <strong>OVERDUE</strong>. Immediate action is required to avoid penalties under Section 234E (late filing fee of Rs. 200/day) and Section 271H (penalty up to Rs. 1,00,000).</p>\n  <table style=\"width: 100%; border-collapse: collapse; margin: 16px 0;\">\n    <tr><td style=\"padding: 8px; border-bottom: 1px solid #e5e7eb; font-weight: 600;\">PAN</td><td style=\"padding: 8px; border-bottom: 1px solid #e5e7eb;\">{{ $json.pan }}</td></tr>\n    <tr><td style=\"padding: 8px; border-bottom: 1px solid #e5e7eb; font-weight: 600;\">Task</td><td style=\"padding: 8px; border-bottom: 1px solid #e5e7eb;\">{{ $('Loop Over TDS Tasks').item.json.description || 'TDS Return Filing' }}</td></tr>\n    <tr style=\"background: #fef2f2;\"><td style=\"padding: 8px; border-bottom: 1px solid #e5e7eb; font-weight: 600;\">Due Date</td><td style=\"padding: 8px; border-bottom: 1px solid #e5e7eb; color: #dc2626; font-weight: 600;\">{{ $('Loop Over TDS Tasks').item.json.due_date }} (OVERDUE)</td></tr>\n  </table>\n  <p>This matter has been escalated to the supervising partner. Please file at the earliest.</p>\n  <p style=\"color: #6b7280; font-size: 12px; margin-top: 24px;\">Escalation from OperatorOS.</p>\n</div>",
        "options": {}
      },
      "id": "send-escalation",
      "name": "Send Escalation for Overdue",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1440, 420],
      "credentials": {
        "smtp": {
          "id": "operatoros-smtp",
          "name": "OperatorOS SMTP"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://operatoros-api:8000/api/compliance/{{ $('Loop Over TDS Tasks').item.json.id }}/status",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ reminder_sent: true }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "mark-reminder-sent",
      "name": "Mark Reminder Sent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1680, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "operatoros-api-key",
          "name": "OperatorOS API Key"
        }
      }
    }
  ],
  "connections": {
    "Quarterly Cron (25th Jun/Sep/Dec/Mar)": {
      "main": [
        [
          {
            "node": "Get Clients with TDS Obligations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Clients with TDS Obligations": {
      "main": [
        [
          {
            "node": "Loop Over TDS Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over TDS Tasks": {
      "main": [
        [
          {
            "node": "Fetch Client Details",
            "type": "main",
            "index": 0
          }
        ],
        [
        ]
      ]
    },
    "Fetch Client Details": {
      "main": [
        [
          {
            "node": "Is Overdue?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Overdue?": {
      "main": [
        [
          {
            "node": "Send Escalation for Overdue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send TDS Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send TDS Reminder": {
      "main": [
        [
          {
            "node": "Mark Reminder Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Escalation for Overdue": {
      "main": [
        [
          {
            "node": "Mark Reminder Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Reminder Sent": {
      "main": [
        [
          {
            "node": "Loop Over TDS Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "name": "tds"
    },
    {
      "name": "compliance"
    },
    {
      "name": "quarterly"
    }
  ],
  "pinData": {},
  "versionId": "1"
}
